<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIn41fyJXAHHwJTZwyCqRG0wgbedS_CYU</string>
	<key>GCM_SENDER_ID</key>
	<string>1089934354533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmTecnoLab</string>
	<key>PROJECT_ID</key>
	<string>bmtecnolabs</string>
	<key>STORAGE_BUCKET</key>
	<string>bmtecnolabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089934354533:ios:87cfaac226c0aa1c163e8c</string>
</dict>
</plist>